doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="./src/styles/css/landing_try.css")
    body
        header
            h1 Hello World
            a Link to say Hello
        section.intro
            .intro: img(src="./src/images/anyImage.jpg")
        p. 
            This is a paragraph
            Using interpolation
        p
            |This is
            |another paragraph
            |using interpolation
        