.articulos {
    width: 40%;
    padding: 50px 0px 0px 50px;
}

.articulo {
    margin-bottom: 5px;
    border-bottom: 3px solid $color-secundario;
    &__categoria {
        font-weight: 500;
        font-size: 16px;
        color: $color-secundario;
        @include titulos($fuente2);
    }
    &__titulo {
        font-size: 20px;
        @include titulos($fuente2);
    }
    &__descripcion {
        margin-bottom: 30px;
        padding-right: 100px;
    }
}